<header>
  <div class="top"></div>
  <div class="nav-container">
    <div class="logo" [routerLink]="['home']">
    </div>
    <nav>
      <div class="menu-icon" (click)="toggleNavigation()"  [ngClass]="menuVisible ? 'change' : ''">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <ul [ngClass]="menuVisible ? 'change' : ''">
        <li [routerLink]="['home']" [routerLinkActive]="['active']">Home</li>
        <li [routerLink]="['add-employee']" [routerLinkActive]="['active']">ADD Employee</li>
        <li [routerLink]="['manage-employee']"  [routerLinkActive]="['active']">Manage</li>
        <li>User Guides</li>
      </ul>
    </nav>
  </div>
</header>